*{
  padding: 0;
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

a.logo {
  padding: 0;
}

.headerlogo {
  width: 100px;
}

.header-right {
  float: right;
}

.orderContainer{
  width: 70vw;
  margin: 0 15vw;
}

.order{
  width: 70vw;
  height: 30vw;
  border: 1px solid #999;
  padding: 20px;
  margin: 20px;
}
.order:first-of-type{
  margin-top: 20px;
}
.order:last-of-type{
  margin-bottom: 100px;
}

.controlBar{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  border-top: 1px solid #999;
  padding: 10px 0;
  background-color: #fff;
  z-index: 99;
}

.button{
  font-family: 'Roboto', sans-serif;
  height: 20px;
  width: 100px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  -webkit-box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  transition: 0.2s all;
  float: right;
  margin: 0 20px;
  cursor: pointer;
}

.buttonContainer{
  float: right;
  margin: 0 15vw;
}

.button:hover{
  transform: scale(0.96);
}

.controlBar__resetButton{
  background-color: #ddd;
}

.controlBar__confirmButton{
  background-color: #00b01a;
}

.addOrder{
  width: 40px;
  height: 40px;
  background-color: #FF6A00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 23px -10px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 15vh;
  right: 10vw;
}
.addOrder:hover{
  -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.75);
}
.addOrder p{
  font-size: 20px;
  text-align: center;
  transform: translate(0px, -1px);
}

.formPair{
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.formPair label{
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0;
}

.formPair input{
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: white;
}
